<%- include ('../parcial/header.ejs') ;%>

        <header>


                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/">Menu</a></li>
                                <li><a href="/record/recordMenu">Voltar</a></li>
                                <li><a href="/record/recordMenu/recordFalaBrasilMenu/recordFalaBrasilCapitalMenu">Notícias da Capital</a></li>
                                <li><a href="#">Notícias do Interior</a></li>
                                <li><a href="#">Notícias de Brasília</a></li>
                                <li><a href="#">Notícias de Culinária</a></li>
                        </ul>
                </nav>
        </header>

        <div id='corpo'>

                
                <%= titulo %>
                        

        </div>

        <%- include ('../parcial/footer.ejs') ;%>