<%- include ('../parcial/header.ejs') ;%>

        <header>


                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/">Voltar</a></li>
                                <li><a href="/record/recordMenu/recordFalaBrasilMenu">Fala Brasil</a></li>
                                <li><a href="#">Balanço Geral</a></li>
                                <li><a href="#">Cidade Alerta</a></li>
                                <li><a href="#">A Fazenda</a></li>
                                <li><a href="#">Raul Gil</a></li>
                        </ul>
                </nav>
        </header>

        <div id='corpo'>


                <%= titulo %>
                        

        </div>

        <%- include ('../parcial/footer.ejs') ;%>