<%- include ('../parcial/header.ejs') ;%>

        <header>


                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/">Menu</a></li>
                                <li><a href="/record/recordMenu/recordFalaBrasilMenu">Voltar</a></li>
                                <li><a href="#">Política</a></li>
                                <li><a href="#">Educação</a></li>
                                <li><a href="#">Polícia</a></li>
                                <li><a href="#">Culinária</a></li>
                                <li><a href="#">Esportes</a></li>
                        </ul>
                </nav>
        </header>

        <div id='corpo'>

                
                <%= titulo %>
                        

        </div>

        <%- include ('../parcial/footer.ejs') ;%>