    <%- include ('../parcial/header.ejs') ;%>

    <header>

            <nav class="menuPrincipal">
                    <ul>
                        <li id="recordSection"> <a href="/record/recordMenu">Record</a></li>
                        <li id="culturaSection"> <a href="#">Cultura</a></li>
                        <li id="bandSection"> <a href="#">Band</a></li>
                        <li id="globoSection"> <a href="#">Globo</a></li>
                        <li id="sbtSection"> <a href="#">SBT</a></li>
                    </ul>
            </nav>

    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>


    <%- include ('../parcial/footer.ejs') ;%>

