.menuHorizontal {
  height: 7vh;
  border: 0.3vh solid green;
  margin: 0.2vh 0.2vh 0.2vh 0.2vh;
  background-color: slateblue;
}

#btnAutores, #btnEditoras, #btnLivros, #btnUsuarios, #btnConfig {
  margin: 0.5%;
  height: 5vh;
  width: 30vw;
  min-width: 15vw;
  max-width: 15vw;
  margin-left: 3vw;
}

.navMenu {
  margin-top: 0.7vh;
}

.namMenu ul{
  list-style: none;
  text-align: left;
}

.navMenu ul li {
  display: inline;
}

.navMenu ul li a{
  padding-left: 1vw;
  display: inline-block;
  color: darkslategray;
  text-decoration: none;
  font-size: 3vh;
}

.navMenu ul li a:hover{
  padding-left: 1vw;
  display: inline-block;
  color: darkblue;
  text-decoration: none;
  font-size: 4vh;
}