    <%- include ('../parcial/header.ejs') ;%>

    <header>


        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias/noticiasEsporteMenu">Voltar</a></li>
                        <li><a href="#">Brasileirão</a></li>
                        <li><a href="#">Paulista</a></li>
                        <li><a href="#">Carioca</a></li>
                        <li><a href="#">Libertadores</a></li>
                        <li><a href="#">Sulamericana</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

