<%- include ('../parcial/header.ejs') ;%>

        <header>


                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/classificados/classificadosAutomoveisMenu">Voltar</a></li>
                                <li><a href="#">Gol</a></li>
                                <li><a href="#">Fusca</a></li>
                                <li><a href="#">Brasilia</a></li>
                                <li><a href="#">Kombi</a></li>
                                <li><a href="#">Passat</a></li>
                        </ul>
                </nav>
        </header>

        <div id='corpo'>

                <%= titulo %>
                        <div class="img_menu">
                                <img src="/imagens-rotas/classificados/volkswagen-logo.jpg" alt="Logo Volkswagen">
                        </div>

        </div>

        <%- include ('../parcial/footer.ejs') ;%>